@keyframes float-slow {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-20px) rotate(10deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

.animate-float-slow {
    animation: float-slow 10s ease-in-out infinite;
}

::selection {
    background: oklch(25.8% 0.092 26.042);
    color: white;
}