@import url("https://fonts.googleapis.com/css?family=Raleway");
body {
  background-color: white;
  background-color: #948d8b;
  font-family: "Raleway", sans-serif;
}

.wrapper {
  width: 350px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  position: relative;
}
.wrapper .form {
  border-radius: 10px;
  overflow: hidden;
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  background-color: #320919;
  transition: all ease 1s;
  box-shadow: 0px 0px 0.5px 0.5px #ffdeb9;
}
.wrapper .form.form-horizontal {
  transform: rotate(-90deg);
  z-index: 99;
}
.wrapper .form .title {
  font-size: 4rem;
  text-align: center;
  color: #320919;
  text-transform: uppercase;
  margin-bottom: 20px;
  background-color: #ffaf53;
}
.wrapper .form .title:hover {
  cursor: pointer;
}
.wrapper .form form {
  padding: 10px 20px;
}
.wrapper .form form .profileImage {
  text-align: center;
  font-size: 8rem;
  color: #ffaf53;
}
.wrapper .form form.loginForm {
  margin: 30px auto;
}
.wrapper .form form.signupForm .profileImage {
  font-size: 6rem;
}
.wrapper .form form .form-group {
  position: relative;
}
.wrapper .form form .form-group .form-icon {
  position: absolute;
  height: 50px;
  width: 40px;
  text-align: center;
  line-height: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #fff;
  background-color: #ffaf53;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}
.wrapper .form form input {
  border-radius: 0px;
  background-color: #fff;
  padding: 24px;
  box-shadow: none;
  border-color: #fff;
  padding-left: 45px;
  color: #ffaf53;
}
.wrapper .form form input::placeholder {
  color: #ffaf53;
}
.wrapper .form form button[type=submit] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 0px;
  background-color: #ffaf53;
  color: #320919;
  text-transform: uppercase;
  font-weight: 600;
}

/*link*/
.info {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  margin: auto;
  text-align: center;
  color: #212121;
  font-weight: 600;
  width: 250px;
  font-size: 2rem;
}
.info a {
  font-size: 5rem;
  display: block;
  color: #212121;
}