* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: url('background.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  display: flex;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(210, 45, 45, 0.1);
  overflow: hidden;
  width: 800px;
  max-width: 95%;
}

.form-container {
  flex: 1;
  padding: 40px;
}

.image-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(237, 184, 193);
}

.image-container img {
  max-width: 200%;
  max-height: 200%;
  object-fit: cover;
  border-radius: 0px;
}

.toggle-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.toggle-buttons button {
  padding: 10px 20px;
  border: none;
  background: orange;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.toggle-buttons button.active {
  background: orange;
  color: #fff;
}

.form {
  display: none;
  flex-direction: column;
}

.form.active {
  display: flex;
}

.form h2 {
  margin-bottom: 20px;
  color: orange;
}

.form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form button {
  padding: 10px;
  background: rgb(193, 141, 46);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.form button:hover {
  background: orange;
}
